
html{
    font-family: 'Stick', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(180deg, #e60505,rgb(0, 0, 0));
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( 90deg, rgb(204, 204, 204), black);
    width: 80vw;
    height: 90vh;
    border-radius: 10px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, red, black);
    border-radius: 5%;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    width:80vw;
    height: 15vh;
}
#section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#bemenetid{
   width: 200px;
   height: 45px;
   margin: 10px;
   font-size: 1.5rem;
   border: none;
   border-radius: 10px;


}
#ujra{
    padding-left: 10px;
    display: none;
    flex-direction: row;    
}
#yes{
    margin: 10px;
    width: 10vw;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: rgb(253, 0, 0);
    color: white;
}
#yes:hover{
    background-color: rgb(151, 39, 39);
    letter-spacing: 2px;
    font-size: 1.6rem;
    border: white 1px solid;
}
#no{
    margin: 10px;
    width: 10vw;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: rgb(253, 0, 0);
    color: white;
}
#no:hover{
    background-color: rgb(151, 39, 39);
    letter-spacing: 2px;
    font-size: 1.6rem;
    border: white 1px solid;
}

#ujra p{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
#proba{
    width: 10vw;
    height: 5vh;
    margin: 10px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
#proba:hover {
    border: rgb(247, 0, 0) 3px solid;
    letter-spacing: 1px; 
}
.wrapper .div1 .header h1{
    font-size: 3rem;
    color: white;
}
.wrapper .div1 .header .head h2{
    font-size: 3rem;
}
#boldogkep{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#boldogkep img{
    display: none;
    width:60%;
    height: 55%;
}
@media (max-width:500px){
    .wrapper .div1 .header{
        height: 5vh;
    }
    .wrapper .div1 .header .head h2{
        font-size: 1rem;
    }
    #section1{
        padding-top: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #proba{
        width: 35vw;
        height: 8vh;
    }
    #boldogkep img{
        display: none;
        width:70%;
        height: 65%;
    }
    #yes{
        width: 25vw ;
        height: 6vh;
    }
    #no{
        width: 25vw ;
        height: 6vh;
    }
    
}

